doctype 5
html(lang="en")
	link(href="/css/main.css", media="screen", rel="stylesheet", type="text/css")
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js", type="text/javascript")
	script(src="js/main.js", type="text/javascript")
	head
		title My Flash Card
	body
		!= body