body {
	background-color: #EEE;
}

a { 
	text-decoration: none;
	color: #333;
	font-weight: bold;
	font-family: Helvetica,arial,freesans,clean,sans-serif;
	font-size: 14px;
}

.container {
	height: 550px;
}

#action {
	width: 522px;
	margin-left: auto;
	margin-right: auto;
}

#action a {
	text-shadow: 1px 1px 0 white;
	white-space: nowrap;
	border: 1px solid #D4D4D4;
	border-radius: 3px;
	background: #F4F4F4;
	background: -moz-linear-gradient(#F4F4F4,#ECECEC);
	background: -webkit-linear-gradient(#F4F4F4,#ECECEC);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4',endColorstr='#ececec')";
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	margin-right: 20px;
	padding: 15px;
}

#card {
	-webkit-transform-style: preserve-3d;
	-webkit-perspective: 1000;
	width: 600px;
	height: 400px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.click .front {
	cursor: pointer;
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
}

.click.flip .front {
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
}

.click .back {
	cursor: pointer;
	-webkit-transform: rotateX(-180deg);
	-moz-transform: rotateX(-180deg);
}

.click.flip .back {
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
}

.back {
    -webkit-transform: rotateY(180deg);
    overflow: hidden;
	background-color: whitesmoke;
}

.front {
    background-color: white;
	-webkit-transform: rotateX(0deg);
}

.back, .front {
	border: 1px solid #DDD;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 1s ease-in;
    width: 100%;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
	font-size: 90px;
    font-weight: bold;
    border-radius: 4px;
	text-align: center;
}